html 
{
    height: 100%;
    width: 100%;
}

body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background: #d4e6f4;
    font-size: 17px;
    line-height: 15px;
}
img
{
    border: none;
}

table, tr, td
{
    border-collapse: collapse;
    vertical-align: top;
    font-size: 15px;
    line-height: 20px;
}

a
{
    color: #8d0d19;
}

#header
{
    height: 70px;
    margin: 0px;
    padding: 0px;
    text-align: left;
    background: rgb(244, 108, 40);
    color: #000;
}
#header h1
{
    padding: 1em;
    margin: 0px;
}

#main
{
    margin: 0px;
    padding: 0px;
    height: 700px;
    width: 100%;
    background: #b9e8ee;
}

#structure
{
    height: 700px;
    width: 100%;
}

#footer
{
    height: 2em;
    margin: 0px;
    padding: 1em;
    text-align: center;
    background: #000;
    color: #fff;
}

/* Navigation */
#navigation
{
    width: 250px;
    height: 100px;
    padding: 2em 3em;
    color: #d4e6f4;
    background: #8c06f5;
}

#navigation a
{
    color: #d4e6f4;
    text-decoration: none;
}

ul.subjects
{
    padding-left: 0;
    list-style: none;
}

ul.pages
{
    padding-left: 2em;
    list-style: square;
}

.selected
{
    font-weight: bold;
}

/* Page content */
#page
{
    padding-left: 2em;
    vertical-align: top;
    background: #eee4b9;
}

#page h2
{
    color: blue;
    margin-top: 1em;
}

#page h3
{
    color: #8d0d19;
}